*{
    box-sizing: border-box;
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
::-webkit-scrollbar {
    display: none;
}
body{
    background-color: #000000 !important;
}
.container{
    .first{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left .right{
            width: 500px;
        }
    }
    .title{
        font-size: 22px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        // font: 1.5em sans-serif;
    }
    .info{
        display: flex;
        align-items: center;
        // justify-content:space-evenly;
        justify-content: center;
        width: 100%;
        height: 250px;
        margin-top: 60px;
        gap: 150px;
        .box{
            width: 100px;
            height: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px;
            gap: 80px;
        }
        .left{
            align-items: flex-end;
            i{
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 100px;
            }
            h5{
                width: 110px;
                text-align: center;
                font-size: 25px;
            }
        }
        .right{
            align-items: flex-start;
            i{
                font-size: 100px;
                width: 150px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            h5{
                width: 160px;
                text-align: center;
                font-size: 25px;
            }
        }
        .line{
            width: 400px;
            height: 5px;
            background-color: #17ee62;
            border-radius: 5px;
            margin-bottom: 130px;
        }
    }
    .mail{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        height: 250px;
        padding: 20px;
        .container{
            position: relative;
            .back{
                position: absolute;
                top: 50%; 
                left: 50%;
                transform: translate(170%, -75%) rotate(-25deg) translateY(-10px);
                width: 80px;
                height: 80px;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: transparent;
                img{
                    width: 80px;
                    height: 80px;
                    object-fit: cover;
                    background-color: transparent;
                    
                }
            }
        }
        .left{
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            background-color: rgba(255, 255, 255, 0); 
            padding: 20px;
            border-radius: 10px;
            h2{
                text-align: center;
                color: #ffc107 ;
                background-color: transparent;
                white-space: nowrap; 
                overflow: hidden; 
                text-overflow: ellipsis;
                span{
                    color: #219961;
                }
            }
            input{
                border: none;
                outline: none;
                padding: 10px;
                background-color: #f5f5f5;
                border-radius: 5px;
                color: #000;
                width: 300px;
                :focus{
                    border: none;
                    outline: none;
                }
            }
            button{
                width: 300px;
                background-color: blueviolet;
                font-weight: bold;
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h2{
                text-align: center;
                color: #ffc107 ;
                white-space: nowrap; 
                overflow: hidden; 
                text-overflow: ellipsis;
                span{
                    color: #219961;
                }
            }
            a{
                width: 200px;
                img{
                    border-radius: 10px;
                    background-color: blueviolet;
                }
            }
        }
    }
    .mainboard{
        margin-top: 50px;
        margin-bottom: 50px;
        h1{
            text-align: center;
            font-weight: bold;
        }
        img{
            object-fit:contain;
            height: 600px;
        }
    }
    .playerboard{
        display: flex;
        width: 100%;
        height: 500px;
        align-items: center;
        justify-content: space-around;
        .left{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h3{
                width: 400px;
                padding-bottom: 15px;
                color: blueviolet;
                font-weight: bold;
                font-size: 40px;
            }
            ul{
                width: 400px;
                li{
                    font-size: 27px;
                    letter-spacing: 1.5px;
                }
            }
        }
        .right{
            width: 50%;
        }
    }
}