* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: bradley hand, cursive;
  color: #fff;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url("/images/background9.png");
  background-size: cover;
}
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    background-image: url("/images/TabletTest3.png");
    background-color: #219961;
    background-size: cover;
  }
}
@media (max-width: 768px) {
  body {
    background-image: url("/images/MobileTest8.png");
    background-size: cover;
  }
}

.container {
  width: 100%;
}
.container .first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 400px;
}
.container .first .left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .first .left img {
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .first .right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .first .right img {
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 770px) {
  .container .first {
    height: 150px;
  }
  .container .first .name {
    width: 200px;
  }
  .container .first .left img {
    width: 90px;
  }
  .container .first .right img {
    width: 90px;
  }
}
.container .title {
  font-size: 22px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
@media (max-width: 1024px) {
  .container .title h1 {
    font-size: 1.8rem;
  }
}
@media (max-width: 770px) {
  .container .title h1 {
    font-size: 1.3rem;
  }
}
.container .info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .container .info {
    flex-direction: column;
    gap: 30px;
  }
}
.container .info .box {
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}
.container .info .left h5 {
  width: 110px;
  text-align: center;
  font-size: 25px;
}
.container .info .right h5 {
  width: 160px;
  text-align: center;
  font-size: 25px;
}
.container .mail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  width: 100%;
}
@media (max-width: 1024px) {
  .container .mail {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .container .mail h2 {
    font-size: 19px;
  }
}
.container .mail .container {
  position: relative;
}
.container .mail .container .back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(170%, -75%) rotate(-25deg) translateY(-10px);
  width: 80px;
  height: 80px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
@media (max-width: 768px) {
  .container .mail .container .back {
    transform: translate(120%, -75%) rotate(-25deg) translateY(-10px);
  }
}
.container .mail .container .back img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: transparent;
}
.container .mail .left {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  border-radius: 10px;
}
.container .mail .left h2 {
  text-align: center;
  color: #ffc107;
  background-color: transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container .mail .left h2 span {
  color: #219961;
}
.container .mail .left form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .mail .left input {
  border: none;
  outline: none;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  color: #000;
  width: 70%;
}
.container .mail .left input :focus {
  border: none;
  outline: none;
}
.container .mail .left button {
  width: 70%;
  background-color: rgb(52, 233, 52);
  font-weight: bold;
  margin-top: 2%;
}
.container .mail .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .mail .right h2 {
  text-align: center;
  color: #ffc107;
  text-overflow: ellipsis;
}
.container .mail .right h2 span {
  color: #219961;
}
.container .mail .right a {
  width: 30%;
}
.container .mail .right a img {
  border-radius: 10px;
}
.container .mainboard h1 {
  text-align: center;
  font-weight: bold;
}
@media (max-width: 767px) {
  .container .mainboard h1 {
    font-size: 22px;
  }
}
.container .mainboard img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 600px;
}
@media (max-width: 768px) {
  .container .mainboard img {
    height: 250px;
  }
}
.container .playerboard {
  display: flex;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .container .playerboard {
    height: 250px;
  }
}
.container .playerboard .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .playerboard .left h3 {
  padding-bottom: 15px;
  color: blueviolet;
  font-weight: bold;
  font-size: clamp(24px, 4vw, 40px);
  white-space: nowrap;
}
.container .playerboard .left ul li {
  font-size: clamp(18px, 3vw, 27px);
  letter-spacing: 1.5px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .container .playerboard .left ul li {
    font-size: 14px;
  }
}
.container .playerboard .right {
  width: 50%;
}
.container .scales {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container .scales .left {
  width: 27%;
}
.container .scales .gif {
  width: 50%;
}
.container .scales .right {
  width: 27%;
}
.container .solvepuzzle {
  height: 700px;
}
@media (max-width: 768px) {
  .container .solvepuzzle {
    height: 230px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .container .solvepuzzle {
    height: 400px !important;
  }
}
.container .section7 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 100%;
  margin-bottom: 50px;
}
.container .section7 .left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  justify-content: center;
}
.container .section7 .left h1 {
  padding-top: 80px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .container .section7 .left h1 {
    padding-top: 50px;
    font-size: 16px;
  }
}
.container .section7 .right img {
  -o-object-fit: contain;
     object-fit: contain;
}
.container .section8 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 5%;
}
.container .section8 .right {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  justify-content: center;
}
.container .section8 .right h1 {
  padding-top: 115px;
}
@media (max-width: 767px) {
  .container .section8 .right h1 {
    padding-top: 50px;
    font-size: 20px;
  }
}
.container .section9 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin-bottom: 50px;
}
.container .section9 .middle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.container .section9 .middle h3 {
  text-align: center;
  letter-spacing: 5px;
  font-size: 50px;
  font-weight: bold;
  color: red;
}
@media (max-width: 768px) {
  .container .section9 .middle h3 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .first img {
    width: 100px;
  }
  .title {
    font-size: 16px;
  }
  .mail input, .mail button {
    width: 100%;
  }
  .playerboard ul li {
    font-size: 20px;
  }
  .section7 h1, .section8 h1, .section9 h3 {
    font-size: 24px;
  }
}/*# sourceMappingURL=style.css.map */